{% extends "::front.html.twig" %}

{% block page_content %}
    <section class="p-b-50 p-t-50 bg-master-lighter sm-no-margin">
        <div class="container p-b-70 p-t-30">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fa fa-check veryBigIcon text-info"></i>
                        <h1 class="col-sm-12 p-b-10">{{ 'profile.created.success'|trans }}</h1>
                        <p class="font-arial m-t-30"><span class="hint-text">{{ 'confirmation.email.sended'|trans }}</br>
                        {# TODO path to replace once the contact and report pages are done #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
