<div class="modal fade slide-up disable-scroll modal-rating" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content text-center">
                <div class="modal-header clearfix text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>{{ 'booking.rateAdventure'|trans }}</h5>
                </div>
                <div class="modal-body">
                    <p>
                        {{ 'booking.ratingText'|trans }}
                    <div class="fs-12"><i class="fa fa-exclamation-triangle"></i>{{ 'booking.ratingNote'|trans }}</div>
                    </p>
                    {{ include("WelcomangoBookingBundle:Feedback:form.html.twig", { 'fom': form, 'cancel': true, 'view': '#'}) }}
                </div>

            </div>
        </div>
    </div>
</div>
