{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% block profile_content %}
    {% if threads %}
        <h2 class="text-center m-t-20">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h2>

        {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
    {% else %}
        {% include 'WelcomangoCoreBundle:Core:oopsBox.html.twig' with {
        'message': 'message.noMessage'|trans({}, 'interface'),
        'icon': 'fa-envelope-o'
        }%}
    {% endif %}

{% endblock %}
