{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% block profile_content %}

    <h2>{{ booking.experience.title }} - messages</h2>

    {{ form_start(form, {'action': path('message_request', {'user_id': user.id, 'booking_id': booking.id})}) }}
        {{ form_rest(form)  }}
        <input type="submit" />
    {{ form_end(form) }}

{% endblock %}
