<div class="row spoken_language_row">
        <div class="col-xs-5">{{ form_row(form.language) }}</div>
        <div class="col-xs-5">{{ form_row(form.level) }}</div>
        <div class="col-xs-2">
            <a onclick="removeField(this)"><button type="button" class="btn btn-danger form-height-button"><i class="fa fa-trash"></i></button></a>
        </div>
</div>
