{% extends "::front.html.twig" %}

{% block page_content %}
    <section class="p-b-50 p-t-50 bg-master-lighter sm-no-margin">
        <div class="container p-b-70 p-t-30">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fa fa-check veryBigIcon text-info"></i>
                        <h1 class="col-sm-12 p-b-10">Your experience has been succesfully created!</h1>
                        <p class="font-arial m-t-30"><span class="hint-text">Thanks a lot for proposing this tour of your city! You're part of the community and helping us making traveling better</br>
                                Have a look and see what it looks like! Or just go back to your profile</span></p>
                        {# TODO path to replace once the contact and report pages are done #}
                        <a href="{{ path('front_experience_view', {'experience_id' : experience.id}) }}" class="btn btn-lg btn-info btn-cons m-t-20"><i class="fa fa-comment-o "></i> Your experience</a>
                        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-lg btn-primary btn-cons m-t-20"><i class="fa fa-plus-circle "></i> Back to profile</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}