{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% block profile_content %}
    <div class="text-center">
        <a class="m-t-20 m-b-10 btn btn-success fs-16 bold" style="width:100%" href="{{ path('front_experience_create') }}">Create a new Experience!</a>
    </div>

    {% for experience in experiences %}
        {% include "WelcomangoExperienceBundle:Experience:_profileExperienceTile.html.twig" with { 'experience' : experience, 'column': 2 } %}
    {% endfor %}

    {% if experiences %}
        {{ include("WelcomangoCoreBundle:Core:modal.html.twig", {
            'title': 'Are you sure you want to delete your experience?',
            'path_valid': '#',
            'main_text': 'This means that Welcomanger won\'t be able to visit your town in your company anymore.<br/>How sad.',
            'valid_button_name': 'Delete',
            'extra_icon': '<i class="fa fa-frown-o fa-4x"></i>'
        })}}
    {% endif %}

{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function updateModal(route){
            $('#modal-delete-button').attr("href", route);
        }
    </script>
{% endblock %}
