{% extends "WelcomangoCoreBundle:CRUD:index.html.twig" %}

{% trans_default_domain "experience" %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}



{% block page_content %}

    <section class="p-b-70  m-t-100 sm-no-margin">
        <div class="container p-t-50 text-center">
            <h1>Success</h1>
        </div>
    </section>

{% endblock %}