<div class="row">
        <div class="col-md-6">{{ form_row(form.language) }}</div>
        <div class="col-md-6">{{ form_row(form.level) }}</div>
    {% if update is defined %}
        <a onclick="this.parentNode.removeChild(this.parent" href="#">delete this tag</a>
{% endif %}
</div>
