<div class="row">
        <div class="col-md-6">{{ form_row(form.language) }}</div>
        <div class="col-md-6">{{ form_row(form.level) }}</div>
    {% if update is defined %}
        <a onclick="deleteRow(this.parentNode)" href="#">delete this tag</a>
        <script type="application/javascript">
            function deleteRow(element) {
                element.remove();
            }
        </script>
{% endif %}
</div>
