<div class="row">
        <div class="col-md-6">{{ form_row(form.language) }}</div>
        <div class="col-md-6">{{ form_row(form.level) }}</div>
    {% if update is defined %}
        <a onclick="deleteRow(this)" href="#">delete this tag</a>
        <script type="application/javascript">
            function deleteRow(element) {
                console.log(element.parentNode);
                element.parentNode.removeChild(element.parentNode);
            }
        </script>
{% endif %}
</div>
