{% trans_default_domain 'interface' %}
<div id="media-modal-crop" class="modal fade slide-up disable-scroll modal-action" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content text-center">
                <div class="modal-header clearfix text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-error"></div>
                    <div class="profile-form-note m-b-10">{{ "profile.picture.cropNote"|trans }}</div>
                    <div id="media-modal"></div>
                    <div class="m-t-10">
                        <button type="button" data-dismiss="modal" class="btn btn-info  btn-cons"><i class="fa fa-arrow-left "></i> Cancel</button>
                        <a id="modal-save-crop-button" class="btn btn-success btn-cons"><i class="fa sa-save"></i>{{ 'profile.picture.saveAndCrop'|trans }}</a>
                    </div>
                    <div style="display: none">
                        <label>X1 <input type="text" size="4" id="x" name="x" /></label>
                        <label>Y1 <input type="text" size="4" id="y" name="y" /></label>
                        <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
                        <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
                        <label>W <input type="text" size="4" id="w" name="w" /></label>
                        <label>H <input type="text" size="4" id="h" name="h" /></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
