{% extends '::front.html.twig' %}

{% trans_default_domain "interface" %}

{% block meta_title %}
{% endblock %}



{% block page_content %}

    <section class="p-b-30 p-t-30 bg-master-darkest sm-no-margin" data-pages-bg-image="{% block header_image %}{% endblock %}" data-bg-overlay="black" data-overlay-opacity="0.3" data-pages="parallax">
        <div class="container p-b-30 p-t-30">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h1 class="text-white col-sm-12 p-b-10">
                            {% block header_title %}{% endblock %}
                        </h1>
                        <h5 class="text-white hint-text">{% block header_text %}{% endblock %}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block main_content %}
    {% endblock %}

    {% block extra_content %}
    {% endblock extra_content %}


{% endblock page_content %}
