{% for comment in comments %}
    <div class="comment row ">
        <div class="col-md-offset-2 col-md-8 m-b-20 p-b-20 b-b b-grey">
            <div class="col-md-2 text-center">
                {{ display_avatar(comment.poster, true, false, 'message-user-picture m-r-10') }}
                <div class="name bold m-t-5 ">{{ comment.poster.firstname}}</div>
            </div>
            <div class="col-md-10">
                <p>{{ comment.body }}</p>

                <span class="hint-text small">{{ comment.poster.createdAt|date('F jS \\, Y') }}</span>
            </div>
        </div>
    </div>
{% endfor %}