{{ form_errors(form) }}
<div class="tab-content">
    <div class="tab-pane active slide-left" id="general">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.file) }}
                <div id="media"></div>
            </div>
        </div>
    </div>
</div>

