/* //////////////////////////////////////////////////////// */
/* ////////////////   GENERAL UI ////////////////////////// */
/* //////////////////////////////////////////////////////// */

.vh-80{
    height: 80vh;
}

.fs-i{
    font-style: italic;
}

.hover-bold:hover{
    transition: font-weight 0.2s linear !important;
}

.hover-bold:hover{
    font-weight: 600 !important;
}

.hover-shadow:hover{
    transition: text-shadow 1s linear !important;
}

.hover-shadow:hover{
    text-shadow: 2px 0px 3px rgba(150, 150, 150, 1) !important;
}

.link-black{
    color: #2c2c2c;
}

.hover-opacity:hover{
    opacity: 0.5;
}

.hover-pointer:hover{
    cursor: pointer;
}

.hover-bg-master-lightest:hover{
    background-color: #f6f6f6;
}

.notification-icon{
    position:absolute;    /* This breaks the div from the normal HTML document. */
    bottom: 0px;
    left:25px;
    padding:1px 0px 0px 1px;
    background-color: #48B0F7;
    color:white;
    font-weight:bold;
    font-size:0.65em;
    width: 14px;
    height: 14px;
    text-align:center;

    border-radius:50%;
    z-index:9;
    box-shadow:1px 1px 1px gray;
    line-height: 12px;
}

.message-unread-icon{
    width: 22px;
    height: 22px;
    font-size:0.90em;
    padding-top: 4.5px;
    left:60px !important;
}

p{
    word-wrap: break-word;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    display:none;
}

.file-upload input.file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.bg-pattern-dark{
    background: url('/bundles/welcomangocore/images/background/bg-pattern-dark.jpg');
}

.bg-pattern-orange{
    background: url('/bundles/welcomangocore/images/background/bg-pattern-orange.jpg');
}

.bg-pattern-orange-inverted{
    background: url('/bundles/welcomangocore/images/background/bg-pattern-orange-inverted.jpg');
}

.note-text{
    font-family: 'Arial';
    font-size: 13px;
    opacity: .7;
    margin-bottom:15px;
}

.svg-auto-scale{
    width:100%;
    height:auto;
}

.bottom-feedback-button{
    position: fixed;
    bottom: -7px;
    right: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    padding-bottom: 15px;
    z-index: 1090;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.bottom-feedback-button:hover{
    bottom: 0px;
}

@media (max-width: 481px){
    .bottom-feedback-button{
        display:none;
    }
}

/* //////////////////////////////////////////////////////// */
/* ////////////////////   DOTED LINE  ////////////////////// */
/* //////////////////////////////////////////////////////// */


div.dotted-line:after {
    width: 100%;
    height: 1px;
    background: none repeat scroll 0% 0% #313B44;
    position: absolute;
    top: 5px;
    left: 0px;
    content: "";
}


div.dotted-line {
    width: 170px;
    height: 1px;
    margin: 0px auto 15px;
    text-align: center;
    position: relative;
}

div.dotted-line span {
    width: 10px;
    height: 10px;
    border: 3px solid #FFF;
    display: block;
    margin: auto;
    background: none repeat scroll 0% 0% #313B44;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}

/* //////////////////////////////////////////////////////// */
/* ///////////////  EXPERIENCE CARDS UI  ////////////////// */
/* //////////////////////////////////////////////////////// */


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
}

*::-moz-selection {
    color: #CFD8DC;
    background: #009688;
}

*::selection {
    color: #CFD8DC;
    background: #009688;
}

*::-webkit-scrollbar {
    width: 10px!important;
    background: #FAFAFA;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .08);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}
/* End defaults*/

.card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px;
    background: #FFF;
    color: #272727;
    border-radius: 2px;
}

.card-bg-master-lightest{
    background-color:#fafafa;
}

.card-triangle-bg-master-lightest{
    border-top:200px solid #fafafa !important;
}

.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}

.card-content{
    height:200px;
}

.card p {
    margin: 0;
}
.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card .card-clickable{
    position: absolute;
    height: 300px;
    width: 100%;
    cursor: pointer;
}

.card .experience-image {
    position: relative;
    width:100%;
    height: 150px;
    overflow: hidden;
}

.card .experience-image-horizontal-split {
    height: 170px;
}

.card-content-profile{
    height: 260px !important;
}

@media (max-width: 991px){
    .card .experience-image-horizontal-split {
        height: 120px;
    }
}

@media (max-width: 768px){
    .card-content-profile{
        height: initial !important;
    }
}


.card .experience-image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 0.5s;
}

.card:hover .experience-image:after {
    opacity: 1;
}

.card .experience-image img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.card .experience-image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}


.card-city-picto{
    position: absolute;
    top: -40px;
    right: 40px;
    height:70px;
    width:50px;
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index:0;
    -webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
}

.card-city-picto .card-picto-note{
    text-align:center;
}

.card-city-picto:hover{
    top:-65px;
}

.card-picto-note-sm{
    height:20px;
    width:17px !important;
}

.card-picto-note-md{
    height:40px;
    width:34px !important;
}

.card-picto-note-lg{
    height:80px;
    width:68px !important;
}

.profile-card{
    height: 400px;
}

.profile-card-greyed{
    opacity: 0.5;
}

.profile-dashboard-card{
    min-height: 290px;
    margin-top: 20px;
}

.card-price-tag {
    -moz-box-shadow: -1px 0px 1px 0px #656565;
    -webkit-box-shadow: -1px 0px 1px 0px #656565;
    -o-box-shadow: -1px 0px 1px 0px #656565;
    box-shadow: -1px 0px 1px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=1);
    float: right;
    margin-right: -15px;
    padding: 5px 10px 5px 10px;
}

#profile-media-croped{
    width: 270px;
    height: 270px;
    padding: 10px;
    border: dashed rgba(0, 0, 0, 0.3) 2px !important;
    margin:auto;
    cursor: pointer;
}

#profile-media-croped img{
    width: 250px;
}

#profile-upload-message{
    margin-top:100px;
    font-size: 20px;
    font-weight: 400;
}

/* //////////////////////////////////////////////////////// */
/* /////////////   EXPERIENCE CARDS UI 2  ///////////////// */
/* //////////////////////////////////////////////////////// */


/* HANDLING THE CASE WHERE IT'S IN CLASSIC CONTAINER */
.card .image-separation-horizontal{
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
    margin-top:-40px;
}

.card .experience-image-triangle-horizontal{
    width: 0px;
    height: 0px;
    border-bottom: 40px solid white;
    border-left: 360px solid transparent;
    z-index: -20;
}

.card .experience-image-triangle-horizontal-dark {
    border-bottom: 40px solid #fafafa !important;
}

.card-bottom{
    width:100%;
    height:40px;
}

.card .card-bottom-triangle {
    width: 0px;
    height: 0px;
    border-top: 40px solid white;
    border-right: 360px solid transparent;
    z-index: -20;
}

.card .card-bottom-triangle-dark {
    border-top: 40px solid #fafafa !important;
}

.card-bottom-price{
    margin-top: -27px;
    padding-right: 10px;
}

@media (min-width: 1600px) {
    .card-content {
        height: 200px !important;
    }
}

/* Handling the triangle behaviors for different screen */
@media (min-width: 1200px) and (max-width: 1600px) {


    .card-content {
        height: 200px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card-bottom-price{
        margin-top: -24px;
    }

    .card-content {
        height: 200px !important;
    }

    .basic-card-content{
        height: 250px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .card .experience-image-triangle-horizontal{
        border-left: 220px solid transparent;
    }

    .card-bottom-price{
        margin-top: -25px;
    }

    .card-content{
        height: 250px !important;
    }

    .basic-card-content{
        height: 300px !important;
    }

    .card .card-bottom-triangle {
        border-right: 220px solid transparent;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .card .experience-image-triangle-horizontal{
        border-left: 720px solid transparent;
    }

    .card .card-bottom-triangle {
        border-right: 720px solid transparent;
    }



    .card-content{
        height: initial !important;
    }
}

@media (max-width: 480px){
    .card .experience-image-triangle-horizontal{
        border-left: 440px solid transparent;
    }

    .card .card-bottom-triangle {
        border-right: 440px solid transparent;
    }

    .card-bottom{
        height:50px;
    }

    .card-bottom-price{
        margin-top: -18px;
    }
}


/* HANDLING THE CASE WHERE IT'S IN LARGE CONTAINER */
.large-container .card .image-separation-horizontal{
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 0;
    margin-top:-39px;
}

.large-container .card .experience-image-triangle-horizontal{
    width: 0px;
    height: 0px;
    border-bottom: 40px solid white;
    border-left: 450px solid transparent;
    z-index: -20;
}

.large-container .card-bottom{
    width:100%;
    height:40px;
}

.large-container .card .card-bottom-triangle {
    width: 0px;
    height: 0px;
    border-top: 40px solid white;
    border-right: 450px solid transparent;
    z-index: -20;
}

.large-container .card-bottom-price{
    margin-top: -27px;
    padding-right: 10px;
}

@media (min-width: 1600px) {
    .large-container .card-content {
        height: 200px !important;
    }
}

/* Handling the triangle behaviors for different screen */
@media (min-width: 1200px) and (max-width: 1600px) {
    .large-container .card-bottom-price{
        margin-top: -24px;
    }

    .large-container .card-content {
        height: 200px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .large-container .card-bottom-price{
        margin-top: -20px;
    }

    .large-container .card-content {
        height: 200px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .large-container .card .experience-image-triangle-horizontal{
        border-left: 200px solid transparent;
    }

    .large-container .card-bottom-price{
        margin-top: -12px;
    }

    .large-container .card-bottom{
        height:50px;
    }

    .large-container .card-content{
        height: 250px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .large-container .card .experience-image-triangle-horizontal{
        border-left: 620px solid transparent;
    }

    .large-container .card .card-bottom-triangle {
        border-right: 620px solid transparent;
    }

    .large-container .card-content{
        height: initial !important;
    }
}

@media (max-width: 480px){
    .large-container .card .experience-image-triangle-horizontal{
        border-left: 450px solid transparent;
    }

    .large-container .card .card-bottom-triangle {
        border-right: 450px solid transparent;
    }

    .large-container .card-bottom{
        height:50px;
    }

    .large-container .card-bottom-price{
        margin-top: -18px;
    }
}


/* //////////////////////////////////////////////////////// */
/* ////////////////   USER IN CARD UI  //////////////////// */
/* //////////////////////////////////////////////////////// */

.user{
    width: 120px;
    height: 120px;
    margin: -55px auto 0;
    cursor: pointer;
}

.user-horitonzal-split{
    width: 120px;
    height: 120px;
    margin: -75px auto 0;
    cursor: pointer;
}

.user-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}

.user-info-wrap{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    perspective: 800px;
    transition: all 0.4s ease-in-out;
    background: #f9f9f9 ;
    box-shadow:
    0 0 0 5px rgba(255,255,255,1);
}

.user-info{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.user-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    backface-visibility: hidden;
}

.user-info .user-info-back {
    transform: rotate3d(0,1,0,180deg);
}

.user-item:hover .user-info-wrap {
    box-shadow:
    0 0 0 3px rgba(255,255,255,0.8);
}

.user-item:hover .user-info {
    transform: rotate3d(0,1,0,-180deg);
}

.user-img-1{
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.user .user-info-back span{
    color: white;
    padding-bottom:2px;
    border-bottom: solid 1px white;
}

.user-info-front-small{
    width: 60px;
    height:60px;
    border-radius: 5px;
    border: solid white 3px;
}


/* //////////////////////////////////////////////////////// */
/* ////////////////   EXPERIENCE VIEW  //////////////////// */
/* //////////////////////////////////////////////////////// */

.experience-city{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.experience-city-picto{
    height:100px;
    width:70px;
    margin-top:-100px;
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.experience-city-picto .experience-picto-note{
    text-align:center;
    padding-top:17px;
}

.experience-city-title{
    margin-top:-10px;
}

#experience-user{
    min-height: 300px;
    /*height: 400px;*/
}

.experience-content{
    border-left: 1px solid rgba(0,0,0,.1);
}

.experience-content{
    /*overflow: hidden;*/
    padding: 15px;
    margin-left: 129px;
}

.experience-user-img{
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: -100px auto 0;
    overflow: hidden;
    width: 200px;
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid #fff;
}

#experience-user .user{
    width: 150px;
    height: 150px;
}

#experience-user .user-info {
    width: 150px;
    height: 150px;
}

#experience-user .user-info-wrap {
    width: 150px;
    height: 150px;
}

.experience-user-info{
    width:100%;
    padding:20px;
}

.experience-side-menu-item{
    cursor:pointer;
}

.experience_featured_pictures{
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border-radius: 2px;
}

.experience_featured_picture_dark{
    position: relative;
}

.experience_featured_picture_dark .experience_featured_pictures:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 0.5s;
}

.experience_featured_picture_dark:hover .experience_featured_pictures:after {
    opacity: 1;
}

.experience_featured_picture_large{
    height: 250px;
}

.experience_featured_picture_small{
    height: 175px;
}


#user-main a h2{
    -webkit-transition: text-shadow 0.2s; /* Safari */
    transition: text-shadow 0.2s;
}

#user-main a h2:hover{
    text-shadow: 2px 0px 3px rgba(150, 150, 150, 1);
}

a h4:hover{
    font-weight: 400;
}

#experience-booking{
    height:0px;
    overflow: hidden;
    width:60%;
    margin:auto;
    margin-top: 30px;
}

#experience-hidden-pictures {
    display:none;
    /*-webkit-transition: all 0.2s; *//* Safari *//*
    transition: all 0.2s;*/
}

#experience-hidden-pictures.experience-pictures-visible {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.experience-bottom-user{
    border-top: solid 1px #e6e6e6;
    width: 100%;
    height:150px;
    position: relative;
    overflow:hidden
}

.experience-bottom-container{
    width:100%;
    margin:auto;
    height: 100%;
}

.experience-bottom-contact{
    cursor:pointer;
    height:100%;
    display: inline-block;
    -webkit-transition: text-shadow 0.2s; /* Safari */
    transition: text-shadow 0.2s;
}

.experience-bottom-contact:hover{
    text-shadow: 2px 0px 3px rgba(150, 150, 150, 1);
}

.experience-bottom-price{
    cursor:pointer;
    padding-left:20%;
    width: 120%;
    height:100%;
    display:inline-block;
    margin-left:-6%;
    -webkit-transition: text-shadow 0.2s; /* Safari */
    transition: text-shadow 0.2s;
}

.experience-price{
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -.009em;
    font-weight: bold;
    margin-top: 40px;
    margin-left:30px;
}

.experience-bottom-price:hover{
    text-shadow: 2px 0px 3px rgba(150, 150, 150, 1);
}

.experience-bottom-user .experience-image-separation{
    width:20%;
    height: 100%;
    position: absolute;
    z-index:1;
    margin-left: -25px;
}

.experience-bottom-user .experience-image-triangle{
    width:0px;
    height:0px;
    border-top:200px solid #f0f0f0;
    border-right:60px solid transparent;
}

.experience-bottom-right{
    height:100%;
    background-color:#e6e6e6;
}

.experience-map-user-picture{
    width: 65px;
    border-radius: 50%;
    float:left;
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   AVAILABILITIES  ///////////////////// */
/* //////////////////////////////////////////////////////// */

.availability{

}


/* //////////////////////////////////////////////////////// */
/* ////////////////////   USER VIEW  ////////////////////// */
/* //////////////////////////////////////////////////////// */


.user-picture{
    width: 100%;
    height: 250px;
    margin-top: -150px;
    border: solid white 3px;
}

.featured-card{
    border: 1px solid rgba(0,0,0,.07);
    height:200px;
    position: relative;
}

.featured-card a{
    color: #272727;
}

.featured-card a:hover{
    color: #272727;
}

.featured-card .experience-image {
    position: relative;
    width:100%;
    height: 200px;
    overflow: hidden;
}

.featured-card .experience-image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 0.5s;
}

.featured-card:hover .experience-image:after {
    opacity: 1;
}

.featured-card .experience-image img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.featured-card .experience-image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}

.featured-card .experience-image-separation{
    width:20%;
    height: 100%;
    position: absolute;
    z-index:1;
}

.featured-card .experience-image-triangle{
    width:0px;
    height:0px;
    border-top:200px solid white;
    border-right:60px solid transparent;
}

.user-info-items{
    margin-bottom:20px;
}

.user-info-details{
    /*border*/
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   PROFILE  //////////////////////////// */
/* //////////////////////////////////////////////////////// */

.profile-left-col{
    background: transparent;
}

#profile-header{
    border-bottom:solid 1px #e6e6e6;
    border-left:solid 1px #e6e6e6;
    border-right:solid 1px #e6e6e6;
    padding: 0px;
}

#profile-header a:last-child{
    border-right:none;
}

#profile-menu-title{
    padding-top:5px;
}

.profile-header-item:hover{
    background-color:white;
    color: #48b0f7;
}

.profile-header-item{
    border-right:solid 1px #e6e6e6;
    padding-top:10px;
    padding-bottom:10px;
    color: #626262;
    -webkit-transition: background-color 0.2s !important; /* Safari */
    transition: background-color 0.2s !important;
}

#profile-menu-left{
    border: 1px solid rgba(0,0,0,.07)
}

#profile-menu-items ul{
    padding: 0px;
}

#profile-menu-items li{
    list-style-type: none;
    padding:10px 15px 10px 15px;
}

#profile-menu-items a{
    color: #313B44;
    width:100%
}

.profile-menu-item:hover{
    background-color:#fafafa;
    color: #48b0f7 !important;
}

.profile-menu-item{
    position: relative;
    display: inline-block;
}

.profile-menu-item-active{
    background-color: #f0f0f0;
}

#user-menu-items ul{
    padding: 0px;
}

#user-menu-items li{
    list-style-type: none;
}

#profile-request-received tr:hover{
    cursor:pointer;
}

.profile-edit-picture-container{
    position: relative;
    bottom: 40px;
    margin:auto;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#user-picture-container:hover .profile-edit-picture-container {
    opacity: 1;
}

#user-picture-container{
    height:250px;
}

.profile-edit-picture{
    width: 60%;
    margin:auto;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

.profile-form-note{
    font-family: 'Arial';
    font-size: 13px;
    opacity: .7;
    margin-bottom:15px;
}

.participation-row-bold{
    font-weight:bold !important;
}

.participation-row-bold td{
    font-weight:bold !important;
}

.participation-row-bold  a{
    font-weight:bold !important;
}

.participation-row-refused{
    opacity:0.5;
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   FLAGS /////////////////////////////// */
/* //////////////////////////////////////////////////////// */


.flag {
    background-size: 100% 100%!important;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

.flag-lg {
    width: 150px;
    height: 113px;
}

.flag-md {
    width: 100px;
    height: 75px;
}

.flag-sm {
    width: 75px;
    height: 57px;
}

.flag-xs {
    width: 27px;
    height: 20px;
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   MESSAGES //////////////////////////// */
/* //////////////////////////////////////////////////////// */

.message-list{
    padding:15px;
}

.message-list li{
    list-style: none;
    border-bottom: 1px solid rgba(230,230,230,0.7);
    padding-left:15px;
    padding-right:15px;
}

.message-list li:hover {
    cursor:pointer;
}

.message-list .message-unread{

    font-weight:bold !important;
}

.message-list ul{
    border-top: 1px solid rgba(230,230,230,0.7);
    border-left: 1px solid rgba(230,230,230,0.7);
    border-right: 1px solid rgba(230,230,230,0.7);
    padding: 0px;
}

.message-list .subject{
    font-family: 'Helvetica';
    font-size: 14.33px;
    color: #3b4752;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    line-height: 18px;
}

.message-list .body{
    font-size: 12.6px;
    opacity: 0.52
}

.message-user-picture{
    width: 65px;
    border-radius: 50%;
}

.message-list .datetime{
    color: #121212;
    font-family: arial;
    font-size: 11.1px;
    position: absolute;
    right: 15px;
    bottom: -12px;
}

.message-list li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.message-list a{
    color: #3b4752;
}

.message-list .message-delete{
    position: absolute;
    right: 15px;
    top: -5px;
}

.message{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(230,230,230,0.7);
}

.message .name{
    font-size: 15px;
    color: #3b4752;
}

.message .message-content{
    color: #626262;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    border-radius: 10px;
    padding: 10px;
}

.messages div:last-child{
    border-bottom: none;
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   CONTENT ///////////////////////////// */
/* //////////////////////////////////////////////////////// */

#content-page{
    padding:20px 30px 20px 30px;
}

#content-menu{
    padding:20px;
}

.content-menu-category{
    text-transform: uppercase;
}

.content-menu-links{
    color: #626262;
}

.portrait-user{
    width: 120px;
    height: 120px;
    margin: auto;
    cursor: pointer;
}

/* //////////////////////////////////////////////////////// */
/* ////////////////   HACKS  ////////////////////////////// */
/* //////////////////////////////////////////////////////// */

/* //// PAGES HEADER  //// */
.header.bg-header {
    height: 80px;
}

.header.bg-header .header-inner {
    line-height: 80px;
}

/* FRONT MENU USER PICTURE CSS */
.front-menu-user-picture{
    width: 35px;
    border-radius: 50%;
}

a .front-menu-user-picture{
    opacity: 1;
}

/* //// HEADER BORDER //// */
.header.light-solid{
    border-bottom: 2px solid #f0f0f0;
}

/* //// PAGES WIZZARD //// */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    font-weight:bold !important;
    background-color: #fafafa  !important;
    color: #F34B1F !important;

}

/* //// PAGES OVERRIDE FOR CARDS //// */
.panel-title{
    text-align: center;
}

/* //// BOOTSTRAP OVERRIDE FOR LARGER CONTAINER //// */
@media (min-width: 1600px) {
    .large-container{
        width: 1470px;
    }
}


.test {
    background-color: #f87f73;
    background-image: -webkit-linear-gradient(-28deg, #f87f73 0%, #f87f73 60%, #292423 60%, #292423 60%);
    background-image: linear-gradient(-28deg, #f87f73 0%, #f87f73 60%, #292423 60%, #292423 60%);
}

/* ///// BOOTSTRAP OVERRIDE FOR PAGINATION ////// */
.pagination>li>a, .pagination>li>span {
    color: #F13F0F;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #f4653f;
    border-color: #f4653f;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #c3330c;
}

/* ///// BOOTSTRAP OVERRIDE FOR EXPERIENCE HEADER ////// */
.col-min {
    /* custom min width */
    min-width:520px;
    margin: 0 auto;
    float: none;
}


/* //// MEH ICON ON NOT ALLOWED PAGE  //// */
.veryBigIcon{
    font-size: 20em;
}

/* ///// BOOTSTRAP TABLE FOR PARTICIPATION LIST /////// */
.table tbody tr td {
    padding: 20px;
}


/* /// IMITATION OF PAGES BEHAVIOR FOR DETAILED TABLE /// */
.table-details td:first-child:before{
    content: "\f054";
    float:left;
    margin-right: 8px;
    margin-top:8px;
    font-family: 'FontAwesome';
    -webkit-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.shown td:first-child:before{
    transform: rotate(90deg);
}

.shown{
    background-color: #f6f6f6;
}

/* /////// BOOTSTRAP DATEPICKER HACKS ////////// */
.datepicker table tr td.day{
    font-weight: bold;
}

.datepicker table tr td.disabled{
    font-weight: 400;
}

.datepicker table tr td.new{
    font-weight: 400;
}

.datepicker table tr td.old{
    font-weight: 400;
}

/* ////////////// DROPZONE ///////////////// */
.media-dropzone{
    border: dashed rgba(0, 0, 0, 0.3) 2px !important;
    cursor: pointer;
}

.dropzone .dz-message{
    font-weight: 400;
    text-align: center;
    margin: 3em 0;
    font-size: 20px;
}

.dropzone .dz-preview .dz-image{
    border-radius: 5px !important;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
    top: 34% !important;
}

.dropzone .dz-preview {
    margin: 1em !important;
}

.dropzone .dz-preview .dz-error-message {
    color: white !important;
}

.dropzone .dz-preview .dz-remove {
    margin-top: 5px;
}

/* ///////////// BOOTSTRAP RESPONSIVE TABLE BORDER HACK ////////////////// */
@media screen and (max-width: 767px){
    .table-responsive {
        border: 0px;
    }
}

/* //////// CITY SEARCH HEIGHT HACK /////////////// */

.form-group-default .form-control{
    margin-top: 0px;
}

/* /////// LANGUAGE REMOVE BUTTON //////////// */
.form-height-button{
    margin-top: 19px;
}
