<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-vh" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container" id="hero">
            <div class="swiper-wrapper">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                        <div class="image" data-swiper-parallax="30%">
                            <img draggable="false" src="{{ asset("img/front/places-14.jpg") }}" class="image-responsive-height" alt="" title="">
                        </div>
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-left">
                                    <div class="container">
                                        <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                                            <h1 class="light sm-text-center" data-swiper-parallax="-15%"> Create your own front-end with endless possibilities.</h1>
                                            <h4 class="sm-text-center">Save time, save money, look more professional and win more clients.</h4>
                                            <h5 class="block-title text-white sm-text-center">Behind the scenes watch tour</h5>
                                            <p class="fs-12 font-arial hint-text sm-text-center">Available at themeforest, envato market place.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                        <div class="image" data-swiper-parallax="30%">
                            <img draggable="false" src="{{ asset("img/front/places-3.jpg") }}" class="image-responsive-height" alt="" title="">
                        </div>
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-left">
                                    <div class="container">
                                        <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                                            <h1 class="light sm-text-center" data-swiper-parallax="-15%"> Twenty & Counting... Unique Website Templates</h1>
                                            <h4 class="sm-text-center">Save time, save money, look more professional and win more clients.</h4>
                                            <h5 class="block-title text-white sm-text-center">Behind the scenes watch tour</h5>
                                            <p class="fs-12 font-arial hint-text sm-text-center">Available at themeforest, envato market place.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-navigation swiper-dark-solid swiper-button-prev"></div>
            <div class="swiper-navigation swiper-dark-solid swiper-button-next"></div>
        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->